<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <h3>My github account</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">account</h4>
                </div>
                <img src="{{ user.avatar_url }}" class="rounded-circle card-img-top" alt="{{ user.login }}" width="25px">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ user.login }}</li>
                        <li class="list-group-item">{{ user.public_repos }} public repos</li>
                        <li class="list-group-item updated">Updated {{ user.updated_at | relativeTime }}</li>
                      </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4>repositories</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <app-repo *ngIf='repos' [repos]='repos'></app-repo>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
