.card{
    color: #40395c !important;
    padding: 2% 2% 2% 2% !important;
    box-shadow: 0px 2px 3px #dedede;
}

.card > img{
    margin: 5% 0% 0% 25% !important;
    width: 50% !important;
}

.card-header{
    background-color: #fff !important;
}

h3, h4{
    text-transform: capitalize !important;
}

.repo-holder{
    padding: 2% 2% 2% 2% !important;
    margin: 0% 2% 2% 4% !important;
    border: 1px solid #dedede !important;
    border-top:4px solid #77924b !important;
}

.repo-holder:hover{
    cursor: pointer;
    background-color: #77924b !important;
}

.repo-name{
    color: #f48213;
}