<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <h3>Sample Github Accounts</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-12">
            <div class="card">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
              </div>
        </div>
    </div>
</div>