/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
*{
    border-radius: unset !important;
    letter-spacing: 1.5px !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #ececec;
}

input:focus, textarea:focus, input.form-control:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.container{
    background-color: #fff;
    margin:2% 5% 5% 5%;
    padding:3% 3% 3% 3%;
    box-shadow: 0px 2px 3px #dedede;
}

.card{
    color: #40395c !important;
    padding: 2% 2% 2% 2% !important;
    box-shadow: 0px 2px 3px #dedede;
}


